<div class="row">
  <div class="col col-md"></div>
  <div class="col col-10 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <h2>Login</h2>
      <hr>

      <!-- Email-->
      <label> Correo Electronico:</label>
      
        <input type="email" class="form-control"
              id="inputEmail" autofocus
              formControlName="email">

      <!-- Contraseña-->
      <label>Contraseña:</label>
      
        <input type="password" class="form-control"
              id="inputPassword"
              formControlName="password">

      <!-- Login -->
      <hr>
      <button type="submit" 
              class="btn btn-primary form-control"
              [disabled]="!loginForm.valid"
              *ngIf="!autenticando">
        Login
      </button>

      <!-- autenticando-->
      <button type="submit" 
              class="btn btn-success form-control"
              *ngIf="autenticando">
               Autenticando...
      </button>
      
      <p class="cursive"> No tengo cuenta, <a [routerLink]="['/registro']">Registrate!</a></p>
      <!-- Mensaje de alerta de usuario no registrado o no encontrado -->
      <p class="alert alert-danger cursive" *ngIf="mensaje"> La cuenta de correo no esta registrada
         , y/o la contraseña no es la correcta.</p>

    </form>  
  </div>
  <div class="col col-md"></div>

</div>